.about__sectionFirst {
  background-color: #014e56;
  height: 517px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about__sectionFirst-wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1110px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  position: absolute;
  top: 73px;
  left: 0px;
  right: 0px;
}

.hamburger__menu {
  display: none;
}

.icon__hamburger-menu-close {
  display: none;
}

.logo__small-screen {
  display: none;
}

.header__left {
  display: flex;
  align-items: center;
  width: 380px;
  justify-content: space-between;
}

.header__left>nav {
  display: flex;
  width: 140px;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}

.header__right>a {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 32.5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s ease-in;
}

.header__right>a:hover {
  background-color: white;
  border: 1p solid #012f34;
  color: #012f34;
}

.about__sectionFirst-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about__sectionFirst-text>h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  width: 350px;
  height: 100px;
}

.about__sectionFirst-text>p {
  width: 683px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-top: 44px;
  line-height: 28px;
}

.about__sectionFirst-text>p::after {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f67e7e;
}

.about__sectionFirst-bg1 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: -100px;
  bottom: 0;
}

/* Section two about page */
.about__sectionThird {
  position: relative;
}

.about__team-container {
  min-height: 1002px;
  width: 100%;
  background-color: #004047;
  padding: 140px 165px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about__team-container>h2 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 64px;
}

.about__team-card {
  height: 253px;
  width: 350px;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 15px;
  background-color: #012f34;
  padding: 32px 24px 56px 32px;
}

.about__team-cards {
  display: flex;
  margin-bottom: 65px;
}

.about__team-btn {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 50%;
  bottom: -28px;
  background-color: coral;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  color: #012f34;
  font-size: 20px;
  font-weight: 800;
  z-index: 20;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.iconRotate {
  transform: rotate(45deg);
}

.about__team-btn:hover {
  background-color: #79c8c7;
}

.about__team-card-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #002529;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__team-card-hover>h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79c8c7;
  margin-bottom: 10px;
}

.about__team-card-hover>p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  width: 243px;
}

.appear {
  opacity: 1;
}

.about__team-avatar {
  width: 96px;
  height: 96px;
}

.about__team-avatar>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about__team-card>h3 {
  margin-top: 16px;
}

.about__sectionSecond-bg1 {
  position: absolute;
  left: 0;
  top: 0;
}

.about__sectionSecond-bg2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*  about section third */
.about__sectionThird {
  background-color: #012f34;
  height: 437px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about__sectionThird>h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.about__sectionThird-client {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  width: 1110px;
}

.about__sectionThird-client img {
  height: 30px;
}

.about__sectionThird-bg1 {
  position: absolute;
  left: 0;
  top: 0;
}

/* section fourth */

.about__sectionFourth {
  background: #f67e7e;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__sectionFourth-text-container {
  max-width: 947px;
  width: 917px;
  display: flex;
  justify-content: space-between;
}

.about__sectionFourth-text-container>h3 {
  font-weight: bold;
  font-size: 48px;
  color: #012f34;
}

.about__sectionFourth-text-container>a {
  border: 1px solid white;
  border-radius: 25px;
  height: 48px;
  width: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  transition: all 0.3s ease-in;
}

.about__sectionFourth-text-container>a:hover {
  background-color: #012f34;
  color: white;
  border: 1px solid white;
}

.about__sectionFourth-bg1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* abotu footer */

footer {
  background: #002529;
  display: flex;
  justify-content: center;
  height: 196px;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

.footer__left {
  width: 285px;
}

.footer__left>nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-top: 34px;
}

.footer__middle {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.6;
  flex-grow: 2;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__right>p {
  line-height: 25px;
  text-align: right;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  font-weight: 600;
  font-size: 15px;
}

.footer__right-icons-container img {
  margin-left: 16px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    top: 30px;
    max-width: 680px;
    width: 680px;
    right: 50%;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer__left {
    width: 230px;
  }

  .footer__right {
    width: 262px;
  }

  footer {
    padding: 0px 80px;
  }

  .about__sectionFirst-text {
    flex-direction: column;
    align-items: center;
  }

  .about__sectionFirst-text>h1 {
    width: unset;
  }

  .about__sectionFirst-text>p {
    width: 540px;
    text-align: center;
  }

  .about__sectionFirst-text>p::after {
    display: none;
  }

  .about__team-wrapper {
    display: flex;
  }

  .about__team-cards {
    flex-wrap: wrap;
  }

  .about__team-card {
    width: 281px;
  }

  .about__team-container>h2 {
    font-size: 32px;
  }

  .about__sectionThird-client {
    max-width: 594px;
    width: 594px;
  }

  .about__sectionThird-client img {
    height: 17px;
  }

  .about__sectionThird>h2 {
    font-size: 32px;
  }

  .about__sectionFourth-text-container {
    max-width: 573px;
    width: 573px;
  }

  .about__sectionFourth-text-container>h3 {
    font-size: 32px;
  }

  .about__sectionFourth-bg1 {
    bottom: -20px;
  }

  .about__sectionFourth {
    overflow: hidden;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    align-items: center;
    flex-direction: column;
    top: 0px;
    background-color: #2c6269;
    height: 100vh;
    justify-content: center;
    z-index: 100;
    left: unset;
    right: -101%;
    position: fixed;
    transition: all 0.3s ease-in-out;
  }

  .header__left {
    flex-direction: column;
  }

  .header__left>img {
    position: absolute;
    top: 8px;
    left: 15px;
  }

  .header__left>nav {
    flex-direction: column;
  }

  .header__left>nav li {
    margin: 16px 0;
  }

  .header__right {
    margin: 31px 0;
  }

  .hamburger__menu {
    display: inline;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
  }

  .icon__hamburger-menu-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline;
  }

  .logo__small-screen {
    position: absolute;
    display: inline;
    left: 10px;
    top: 8px;
  }

  .about__sectionFirst-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__sectionFirst-text>h1 {
    font-size: 40px;
  }

  .about__sectionFirst-text>p {
    width: 327px;
    font-size: 15px;
  }

  .about__sectionFirst-text>p::after {
    display: none;
  }

  .about__sectionFirst-text>p {
    padding-top: 0;
  }

  .about__sectionFirst-bg1 {
    bottom: -100px;
  }

  .about__sectionSecond-bg1 {
    left: -100px;
    top: -100px;
  }

  .about__team-container {
    min-height: 2062px;
    padding: 168px 24px;
    overflow: hidden;
  }

  .about__team-cards {
    flex-direction: column;
    margin-bottom: unset;
  }

  .about__team-container>h2 {
    font-size: 32px;
  }

  .about__sectionThird {
    height: 632px;
    overflow: hidden;
  }

  .about__sectionThird-client {
    align-items: center;
    flex-direction: column;
    width: unset;
  }

  .about__sectionThird-bg1 {
    left: -100px;
    top: -100px;
  }

  .about__sectionThird>h2 {
    font-size: 32px;
  }

  .about__sectionThird-client img {
    margin: 20px 0;
  }

  .about__sectionFourth-text-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: unset;
    align-items: center;
  }

  .about__sectionFourth-text-container>h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .about__sectionFourth {
    height: 302px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .about__sectionFourth-bg1 {
    bottom: -22px;
  }

  footer {
    height: 432px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__left>nav {
    width: 100%;
    justify-content: center;
    margin: 24px 0;
    align-items: center;
    text-align: center;
  }

  .footer__left>nav li {
    margin: 0 15px;
  }

  .footer__right {
    align-items: center;
  }

  .footer__right-icons-container {
    margin: 24px 0;
  }
}