body {
  min-height: 100vh;
  background: #002529;
}

/* First section */
.contact__sectionFirst {
  background-color: #014e56;
  position: relative;
  overflow: hidden;
}

.contact__sectionFirst-wrapper {
  width: 100%;
  max-width: 1110px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.contact__sectionFirst-text-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.contact__sectionFirst-text>h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}

.contact__sectionFirst-text>h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #f67e7e;
}

.contact__sectionFirst-text>div {
  margin-top: 50px;
}

.contact__sectionFirst-label {
  display: flex;
  align-items: center;
}

.contact__sectionFirst-label img {
  margin-right: 23px;
}

.contact__sectionFirst-label:first-child img {
  margin-left: 5px;
}

.contact__sectionFirst-bg1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -100px;
  top: 250px;
}

.contact__sectionFirst-bg2 {
  position: absolute;
  right: -100px;
  bottom: 0;
}

.contact__sectionFirst-form {
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.contact__sectionFirst-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__sectionFirst-form>button {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  width: 123px;
  height: 48px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.contact__sectionFirst-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.contact__sectionFirst-form-wrapper input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
}

.contact__sectionFirst-form-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid #79c8c7;
}

.contact__sectionFirst-form-wrapper:last-child>input {
  height: 50px;
}

.contact__sectionFirst-form-wrapper label {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  mix-blend-mode: normal;
  opacity: 0.6;
  width: 100%;
}

.submit-form-btn:focus {
  outline: none;
}

@media (min-width: 785px) and (max-width: 1284px) {
  .contact__sectionFirst-text-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact__sectionFirst-text {
    margin-bottom: 50px;
    text-align: center;
  }

  .contact__sectionFirst-form>button {
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 784px) {
  .contact__sectionFirst-text-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact__sectionFirst-bg1 {
    display: none;
  }

  .contact__sectionFirst-bg2 {
    bottom: -100px;
  }

  .contact__sectionFirst-text {
    width: 327px;
  }

  .contact__sectionFirst-wrapper {
    height: 1132px;
  }

  .contact__sectionFirst-form {
    width: 327px;
    height: 420px;
    margin: 50px 0;
  }

  .contact__sectionFirst-text>h1 {
    font-size: 40px;
    text-align: center;
  }

  .contact__sectionFirst-text>h2 {
    text-align: center;
  }
}